<div fxLayout="column" fxLayoutAlign="center center">
    <!-- Input de código manual -->
    <div fxLayout="row" fxLayoutAlign="center center" class="margin-y" style="width: 100%">
        <mat-form-field class="example-form-field w-100">
            <mat-label>Codigo</mat-label>
            <input matInput type="text" [(ngModel)]="manualInput" [autofocus]="true" />
            <button matSuffix mat-icon-button aria-label="Clear" *ngIf="manualInput" (click)="manualInput = ''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button *ngIf="manualInput.trim()" mat-icon-button class="btn-success" color="primary"
            (click)="addManualInput()" style="margin-bottom: 1.25rem; margin-right: 10px">
            <mat-icon>add</mat-icon>
        </button>
        <!-- Botones de escaneo -->
        <button *ngIf="!scanning && !manualInput.trim()" mat-icon-button class="btn-success" color="primary"
            (click)="startScan()" style="margin-bottom: 1.25rem; margin-right: 10px">
            <mat-icon>qr_code_scanner</mat-icon>
        </button>

        <button *ngIf="scanning" mat-icon-button class="btn-danger" color="warn" (click)="stopScan()"
            style="margin-bottom: 1.25rem; margin-right: 10px">
            <mat-icon>stop</mat-icon>
        </button>
    </div>

    <mat-menu #menu="matMenu">
        <mat-checkbox *ngFor="let format of availableFormats" (change)="toggleFormat(format.format)"
            [checked]="allowedFormats.includes(format.format)">
            {{ format.name }}
        </mat-checkbox>
    </mat-menu>

    <div *ngIf="scanning" class="fullscreen-overlay">
        <div class="overlay-content">
            <!-- Encabezado -->
            <header class="overlay-header">
                <!-- Componente de selección de cámara -->
                <div class="camera-selector">
                    <mat-form-field appearance="fill" style="width: 100%">
                        <mat-label>Seleccionar cámara</mat-label>
                        <mat-select [value]="selectedCamera" (selectionChange)="selectCamera($event.value)">
                            <mat-option *ngFor="let camera of cameras" [value]="camera">{{ camera.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <button class="btn-primary" mat-icon-button [matMenuTriggerFor]="menu" style="margin-bottom: 1.25rem; margin-right: 10px">
                        <mat-icon>more_vert</mat-icon>
                    </button> -->
                    <!-- Botones de flash y cancelar -->
                    <button class="btn-primary" mat-icon-button (click)="toggleTorch()"
                        style="margin-bottom: 1.25rem; margin-right: 10px">
                        <mat-icon>{{ flashEnabled ? "flash_off" : "flash_on" }}</mat-icon>
                    </button>
                    <button class="btn-danger" mat-icon-button (click)="stopScan()"
                        style="margin-bottom: 1.25rem; margin-right: 10px">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </header>

            <!-- Componente de escaneo -->
            <zxing-scanner [torch]="this.flashEnabled" (torchCompatible)="this.onTorchCompatible($event)"
                (scanSuccess)="('Codigo Escaneado')" [formats]="allowedFormats" [(device)]="selectedCamera"
                (scanSuccess)="handleQrCodeResult($event)" [autostart]="scanning" [tryHarder]="true"></zxing-scanner>
        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center stretch" class="grid-container">
    <div fxLayout="row" fxLayoutAlign="center center" class="margin-y"
        style="width: 100%; justify-content: center; align-content: center; align-items: center; display: flex; ">
        <mat-form-field class="example-form-field w-100">
            <mat-label>Buscar</mat-label>
            <input matInput type="text" [(ngModel)]="this.searchInput" #inputElement (ngModelChange)="this.search()" />
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchInput = ''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <!-- <button mat-icon-button class="btn-success" color="primary" (click)="search()" style="margin-bottom: 1.25rem; margin-right: 10px">
            <mat-icon>search</mat-icon>
        </button> -->
    </div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start stretch" fxFlexFill>
        <div *ngFor="let item of scannedItems" fxFlex="25%" fxFlex.md="25%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-card class="mat-elevation-z8">
                <mat-card-content class="text-wrap">
                    <p><strong>Code:</strong> {{ item.data }}</p>
                    <p><strong>Creado:</strong> {{ item.timestamp }}</p>
                    <p *ngIf="item.description"><strong>Descripcion:</strong> {{ item.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="accent" (click)="viewItem(item)">Detalles</button>
                    <button mat-button color="warn" (click)="deleteItem(item)">Eliminar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>