<div fxLayout="column" fxLayoutAlign="center center" class="padding-2 margin-1">
  <h1 class="text-center">{{ title }}</h1>

  <div fxLayout="row" fxLayoutAlign="center center" class="margin-y">
    <div fxLayout="row" fxLayoutAlign="center center" class="margin-y">
      <mat-form-field class="example-form-field">
        <mat-label>Codigo</mat-label>
        <input matInput type="text" [(ngModel)]="this.manualInput" />
        @if (this.manualInput) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="this.manualInput = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>

      <button
        *ngIf="manualInput.trim()"
        mat-icon-button
        class="btn-success margin-x"
        color="primary"
        (click)="addManualInput()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngIf="!manualInput.trim()"
    >
      <button
        *ngIf="!scanning"
        mat-icon-button
        class="btn-success margin-x"
        color="primary"
        (click)="startScan()"
      >
        <mat-icon>qr_code_scanner</mat-icon>
      </button>

      <button
        *ngIf="scanning"
        mat-icon-button
        class="btn-danger margin-x"
        color="warn"
        (click)="stopScan()"
      >
        <mat-icon>stop</mat-icon>
      </button>

      <button class="btn-primary" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <mat-checkbox
      *ngFor="let format of availableFormats"
      (change)="toggleFormat(format.format)"
      [checked]="allowedFormats.includes(format.format)"
    >
      {{ format.name }}
    </mat-checkbox>
  </mat-menu>

  <zxing-scanner
    *ngIf="scanning"
    [formats]="allowedFormats"
    (scanSuccess)="handleQrCodeResult($event)"
    [autostart]="scanning"
  ></zxing-scanner>

  <mat-card *ngFor="let item of scannedItems" style="margin-top: 20px">
    <mat-card-content>
      <p><strong>Code:</strong> {{ item.data }}</p>
      <p><strong>Timestamp:</strong> {{ item.timestamp }}</p>
    </mat-card-content>
  </mat-card>
</div>
