<div fxLayout="column" fxLayoutAlign="center center" class="padding-2 margin-1">
  <h1 class="text-center">{{ title }}</h1>

  <div fxLayout="row" fxLayoutAlign="center center" class="margin-y">
    <div fxLayout="row" fxLayoutAlign="center center" class="margin-y">
      <mat-form-field class="example-form-field w-100" style="width: 100%;">
        <mat-label>Codigo</mat-label>
        <input matInput type="text" [(ngModel)]="manualInput" />
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="manualInput"
          (click)="manualInput = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        *ngIf="manualInput.trim()"
        mat-icon-button
        class="btn-success margin-x"
        color="primary"
        (click)="addManualInput()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngIf="!manualInput.trim()"
    >
      <button
        *ngIf="!scanning"
        mat-icon-button
        class="btn-success margin-x"
        color="primary"
        (click)="startScan()"
      >
        <mat-icon>qr_code_scanner</mat-icon>
      </button>

      <button
        *ngIf="scanning"
        mat-icon-button
        class="btn-danger margin-x"
        color="warn"
        (click)="stopScan()"
      >
        <mat-icon>stop</mat-icon>
      </button>

      <button class="btn-primary" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #menu="matMenu">
    <mat-checkbox
      *ngFor="let format of availableFormats"
      (change)="toggleFormat(format.format)"
      [checked]="allowedFormats.includes(format.format)"
    >
      {{ format.name }}
    </mat-checkbox>
  </mat-menu>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Seleccionar cámara</mat-label>
    <mat-select [(ngModel)]="selectedCamera" (selectionChange)="selectCamera($event.value)">
      <mat-option *ngFor="let camera of cameras" [value]="camera">{{ camera.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <zxing-scanner
    *ngIf="scanning"
    [formats]="allowedFormats"
    [(device)]="selectedCamera"
    (scanSuccess)="handleQrCodeResult($event)"
    [autostart]="scanning"
    [tryHarder]="true"
  ></zxing-scanner>

  <div *ngFor="let item of scannedItems">
    <mat-card style="margin-top: 1rem">
      <mat-card-content>
        <p><strong>Code:</strong> {{ item.data }}</p>
        <p><strong>Timestamp:</strong> {{ item.timestamp }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" (click)="viewItem(item)">View</button>
        <button mat-button color="warn" (click)="deleteItem(item)">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
