<h2 mat-dialog-title>
  Detalles
  <span mat-dialog-header class="close-icon" aria-label="Close dialog">#{{ this.data.data }}</span>
</h2>
<div mat-dialog-content class="w-100" fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%">
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Code</mat-label>
    <input matInput [(ngModel)]="editableData.data" style="width: 100%" [autofocus]="false" />
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Creado</mat-label>
    <input matInput [(ngModel)]="editableData.timestamp" [disabled]="true" style="width: 100%"/>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Descripcion</mat-label>
    <textarea matInput [(ngModel)]="editableData.description"  style="width: 100%" multiple rows="2" ></textarea>
    <!-- <input matInput [(ngModel)]="editableData.description"  style="width: 100%" multiple rows="2" /> -->
  </mat-form-field>
  <!-- <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" (click)="save()">Guardar</button>
  <button mat-button color="warn" [mat-dialog-close]="true">Cerrar</button>
</div>
